h1{
	color: #06c9f7;
	text-align: center;
	margin-bottom: -20px;
	text-transform: uppercase;
	font-weight: 400;
}
h5{
	color: #ff0101;
	text-align: center;
	border-bottom: solid 2px #e7e7e7;
	width: 180px;
	display: block;
	margin: auto;
	margin-top: 20px;
}
.washer{
	width:50px;
	height:50px;
}
.rowBorder{
	border-bottom: solid 2px #e7e7e7;
}
.abs{
	width: 250px;
	display: block;
	margin: auto;
	margin-top: 20px;
}
.start{
	float: right;
	background-color: white;
	color: #06c9f7;
	border-radius: 8px;
	width: 100px;
	margin-right: 20px;
	height: 30px;
}
#gggg{
	
	font-size: 18px;
	font-family: raleway;
	text-align: center;
}
#ffff{
	font-size: 40px;
	font-family: Raleway;
}
#ffgg{
	display: block;
	margin: auto;
	width: 45%;
}